		<nav class="nav">
			<div class="nav-container">
				<a href="{{ "/" | relURL }}">
					<h2 class="nav-title">{{ .Site.Title }}</h2>
				</a>
				{{ partial "header-menu.html" . }}
			</div>
		</nav>
		<script type="text/javascript">
	atOptions = {
		'key' : '7ca18f4b8a348c4d7a09c0e3f01fe2e6',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://separationreverttap.com/7ca18f4b8a348c4d7a09c0e3f01fe2e6/invoke.js"></scr' + 'ipt>');
</script>
